
{% extends 'base.html' %}
{% load static %}
{% block title %}Home page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/format.css'%}" type="text/css">
<h2>Список товаров</h2>
<ul class="menu">
    <ol>
        {% for item in items %}
            <li>
                <a href="{%url "get_detail" item.id %}">{{ item.name }}</a>
                Описание товара :</br>
                {{ item.description }}
            </li>
        {% endfor %}
    </ol>
</ul>
{% endblock %}


